@font-face {
    font-family: SuperMario256;
    src: url(../SuperMario256.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevents scrolling */
    height: 100%;
    /* Ensures the body takes up the full height */


    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: 'SuperMario256', sans-serif; /* Apply the font here */
}


.logo {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px;

    width: 100%;
    height: 10vh;
    position: relative;
    overflow: hidden;
}

#scoreBoard{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 100%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'SuperMario256', sans-serif; /* Apply the font here */
}

#scoreBoard div{
    padding: 15px 30px;
    width: 20%;
    text-align: center;
}

#game-container {
    width: 100vw;
    height: 71vh;
    position: relative;
    overflow: hidden;
}

#scrollBackground {
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-image: url('./Assets/background.gif');
    background-repeat: repeat-x;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.platform {
    z-index: 1;
}

.enemy {
    z-index: 1;
}

.coin {
    z-index: 1;
}

#mainPlayer {
    z-index: 2;
}

#menu {
    z-index: 3;
    position: fixed; /* Fixes it on top of everything */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    font-family: 'SuperMario256', sans-serif; /* Apply the font here */
    /* display: none; */
}


#initial-menu {
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    line-height: 50px;
    /* display: none; */
}

#pause-menu {
    width: 25%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    /* display: none; */
}

#menu div{
    padding: 15px 30px;
    text-align: center;
    border: #fff 2px solid;
    border-radius: 10px;
    /* padding: 10px 20px; */
    margin: 10px;
    cursor: pointer;
} 

.menu-active-button {
    border-color: green !important;
}