html,
body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */

    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Keeps vertical scrolling disabled */

    /* Prevents scrolling */
    height: 100%;
    width: 100%;
    white-space: nowrap; /* Prevents wrapping */
    /* Ensures the body takes up the full height */
}

#game-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
}

#scrollBackground {
    width: 100vw;
    height: 100vh;
    background-image: url('./Assets/background.gif');
    background-repeat: repeat-x;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}